.title {
  font-family: system-ui;
  text-align: center;
  font-size: 3.6rem;
  font-weight: 800;
  letter-spacing: -0.06em;
  background: rgb(2, 0, 36);
  background: linear-gradient(
    90deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(242, 74, 222, 1) 35%,
    rgba(0, 212, 255, 1) 100%
  );
  background-clip: text;
  -webkit-text-fill-color: transparent;
}
